<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>my flask app</title>
  <!-- it would be good to add some sort of bootstrap CSS for dev -->
</head>
<body>
  <!-- when we reference this file this is the "template" we will extend from -->
  <!-- this will be the "template" for other files to extend -->
  {% block body %}{% endblock %}

  <!-- this will include a partial html file -->
  <!-- include ->(flask keyword) 'path_to_partial_html' -->
  {% include 'includes/_somehtml.html' %}
</body>
</html>
